/Users/franca/Documents/GitHub/EDA-compras-anuales/Cashflow Compartido 2021.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Cashflow Compartido 2022.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Cashflow Compartido 2023.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Cashflow Compartido 2024.xlsx

/Users/franca/Documents/GitHub/EDA-compras-anuales/Presupuesto_mensual_2021.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Presupuesto_mensual_2022.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Presupuesto_mensual_2023.xlsx
/Users/franca/Documents/GitHub/EDA-compras-anuales/Presupuesto_mensual_2024.xlsx
